# Other files and folders
/api
/app_operador
/app_servicio
/app_admin_operador
/archivos_varios
/estaba_afuera
/mantenimiento_archivos
/otros
/php
/pruebas_api.html
/Reportes
/reporte_avanzes_SADS
/sistema-php
/antiguo_back_front_end
# Executables
*.swf
*.air
*.ipa
*.apk
*.application
*.xlsx
*.jpg
*.ico
*.png